div.todo-list-page{
  background-color: #F7F7F7;
}

.container {
  max-width: 700px;
  margin: auto;
}

.input-group {
  width: 100%;
}

.todo-list-wrapper {
  max-height: 60vh; /* Set max height relative to viewport */
  overflow-y: scroll; /* Enable scrolling */
  padding-right: 5px; /* Optional: Adds some space for scrollbar visibility */
}

/* Hide the scrollbar */
.todo-list-wrapper::-webkit-scrollbar {
  display: none;
}

.todo-list-wrapper {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}

.list-group-item {
  width: 100%;
}

@media (min-width: 768px) {
  .todo-list-wrapper,
  .todo-details-wrapper {
      width: 100%;
  }
}

.todo-details-wrapper {
  width: 100%;
}

button.back-button {
  margin-bottom: 1rem;
}
