.container {
  max-width: 700px;
  margin: auto;
}

.input-group {
  width: 100%;
}

.todo-list-wrapper {
  max-height: 80vh; /* Set max height relative to viewport */
  overflow-y: auto;
  padding-right: 5px; /* Optional: Adds some space for scrollbar visibility */
}

.list-group-item {
  width: 100%;
}

@media (min-width: 768px) {
  .todo-list-wrapper,
  .todo-details-wrapper {
      width: 100%;
  }
}

.todo-details-wrapper {
  width: 100%;
  margin-top: 1rem;
}

button.back-button {
  margin-bottom: 1rem;
}
